{% extends "e_website/e_base.html" %}

{% block body %}
    <div class="row">
        <div class="col-12 page_heading">
            <h2>Welcome back to E-Website</h2>
        </div>
    </div>

    <section class="product_card_section my-4">
        <div class="row mb-4">
            <div class="col-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="/static/img/products/product-1-min.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Heading</h4>
                        <span class="card-text">this is the description of product for testing</span>
                        <hr>
                        <a class="btn btn-sm" href="">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="/static/img/products/product-2-min.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Heading</h4>
                        <span class="card-text">this is the description of product for testing</span>
                        <hr>
                        <a class="btn btn-sm" href="">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="/static/img/products/product-3-min.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Heading</h4>
                        <span class="card-text">this is the description of product for testing</span>
                        <hr>
                        <a class="btn btn-sm" href="">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="/static/img/products/product-4-min.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Heading</h4>
                        <span class="card-text">this is the description of product for testing</span>
                        <hr>
                        <a class="btn btn-sm" href="">Buy</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="/static/img/products/product-1-min.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Heading</h4>
                        <span class="card-text">this is the description of product for testing</span>
                        <hr>
                        <a class="btn btn-sm" href="">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="/static/img/products/product-2-min.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Heading</h4>
                        <span class="card-text">this is the description of product for testing</span>
                        <hr>
                        <a class="btn btn-sm" href="">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="/static/img/products/product-3-min.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Heading</h4>
                        <span class="card-text">this is the description of product for testing</span>
                        <hr>
                        <a class="btn btn-sm" href="">Buy</a>
                    </div>
                </div>
            </div>
            <div class="col-3 p-1">
                <div class="card">
                    <img class="card-img-top" src="/static/img/products/product-4-min.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Heading</h4>
                        <span class="card-text">this is the description of product for testing</span>
                        <hr>
                        <a class="btn btn-sm" href="">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}