{% extends "base.html" %}

{% block body %}
  <div class="main-content position-relative max-height-vh-100 h-100">
    <div class="container-fluid px-2 px-md-4">
        <div class="row mt-3">
            <div class="col-12">
                <a href="/add_category/" class="btn btn-sm btn-primary" style="float: right; margin-right: 10px;">Add Category</a>
            </div>
            <div class="col-12">
                <div class="row">
                    {% for category in category_data %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="/{{ category.img_path }}" style="height: 160px;" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">{{ category.category_name }}</h4>
                                <div class="pt-2" style="display: flex;">
                                    <a class="btn btn-sm btn-primary" href="/update_category/{{ category.id }}/">Update</a>
                                    <a class="btn btn-sm btn-primary mx-auto" href="/get_products/{{ category.category_name }}/{{ category.id }}/">Products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
